@media only screen and (max-width: 768px) {
  #rotateBtn {
    top: 103px;
    bottom: unset;
    position: fixed; }
  .insights-content {
    width: 100%;
    display: none; }
    .insights-content .item-wrapper {
      list-style-type: none;
      padding: 10px; }
  .item {
    height: 250px;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 310px; }
    .item .person {
      display: flex;
      width: 640px;
      height: 400px; }
    .item .journal-wrapper {
      position: absolute;
      margin: auto;
      display: flex;
      width: 100%; }
      .item .journal-wrapper .journal {
        width: 90%;
        margin: 0 auto;
        max-width: 380px;
        max-height: 600px;
        object-fit: cover;
        margin-bottom: 100px;
        top: 40px; }
    .item .photograph-wrapper {
      position: absolute;
      margin-top: 210px;
      display: flex;
      width: 100%; }
      .item .photograph-wrapper .photograph {
        position: relative;
        margin: 0 auto;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        max-width: 400px;
        height: auto;
        max-height: 300px; }
    .item .tag {
      cursor: pointer;
      z-index: 2;
      top: 160px;
      right: 13px;
      display: flex;
      position: absolute;
      width: 100px;
      height: 100px;
      background-size: 100% auto;
      background-repeat: no-repeat;
      object-fit: cover;
      -webkit-transition: -webkit-transform .8s ease-in-out;
      transition: transform .3s ease-in-out; }
    .item .subtag {
      top: 230px;
      right: 10px; }
  .item.nopointer {
    display: none; }
  .holder div {
    z-index: 0;
    /*init z-index*/ }
  .holder div.current {
    z-index: 1;
    /*only this DIV will be visible*/ }
  .sticky-note {
    display: none;
    position: fixed;
    top: 150px;
    right: 23px;
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
    z-index: 15; }
  .paperclip {
    display: none;
    position: fixed;
    top: 150px;
    right: 23px;
    width: 24px;
    height: 36px;
    background-size: 24px 36px;
    background-image: url(../assets/paperclip.png);
    z-index: 16; }
  .mobile-filter {
    display: none; } }
