body {
  background-color: black;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  display: grid;
  place-items: center;
  max-width: 100%;
  overflow-x: hidden; }
  body .container {
    width: 100%;
    padding: 0px; }
    @media only screen and (max-width: 768px) {
      body .container {
        margin-top: 10%; } }
  body h3 {
    color: #FFF;
    font-family: Helvetica;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px; }
  body .text {
    margin: 200px auto 0px;
    max-width: 530px; }
  body .insights-titles {
    color: #E0E0E0;
    font-size: 25px;
    font-weight: 300;
    line-height: 25px; }
    @media only screen and (max-width: 768px) {
      body .insights-titles {
        margin: 60px 20px 0px;
        font-size: 19px; } }
    @media only screen and (min-width: 768px) {
      body .insights-titles {
        max-width: max-content;
        margin-left: 153px;
        margin-top: 80px; } }
    body .insights-titles ul .nav-link {
      color: white;
      padding: 5px; }
      @media only screen and (max-width: 768px) {
        body .insights-titles ul .nav-link {
          border: 2px solid white; } }
      body .insights-titles ul .nav-link:hover {
        color: white;
        text-decoration: underline;
        background: black;
        cursor: pointer; }
    body .insights-titles ul .active-guideline {
      opacity: 1;
      margin-bottom: 12px;
      margin-left: -30px;
      font-size: 20px; }
      @media only screen and (max-width: 768px) {
        body .insights-titles ul .active-guideline {
          font-size: 16px;
          max-width: 90%; } }
      body .insights-titles ul .active-guideline .active-guideline-link .arrow {
        margin-right: 4px; }
      @media only screen and (max-width: 768px) {
        body .insights-titles ul .active-guideline .active-guideline-link {
          padding-left: 30px;
          border: 0px solid white; }
          body .insights-titles ul .active-guideline .active-guideline-link:hover {
            text-decoration: none; } }
      body .insights-titles ul .active-guideline .active-guideline-link.active {
        text-decoration: underline; }
        body .insights-titles ul .active-guideline .active-guideline-link.active .arrow {
          display: inline-block; }
    @media only screen and (min-width: 768px) {
      body .insights-titles li {
        opacity: 0.5; }
      body .insights-titles li:hover {
        opacity: 0.5; }
      body .insights-titles .parent:hover > li:not(:first-child) {
        opacity: 0.5; }
      body .insights-titles .parent:hover > li:hover {
        opacity: 1.0; }
      body .insights-titles .visited {
        opacity: 0.2 !important; } }
  body .rotate {
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    transition: all .2s linear; }
  body .down .arrow {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }
  body .down .nested-list {
    display: block; }
    body .down .nested-list .arrow {
      display: inline-block; }
  body i {
    font-size: 20px; }
