@media only screen and (max-width: 768px) {
  #rotateBtn {
    text-align: right;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    outline: inherit;
    width: 100%;
    font-size: 30px;
    padding-right: 20px;
    padding-top: 20px; }
  .insights-content {
    width: 100%; }
    .insights-content .item-wrapper {
      list-style-type: none;
      padding: 10px; }
  .item {
    height: 250px;
    margin-bottom: 10px;
    position: relative;
    margin-bottom: 300px; }
    .item .person {
      display: flex;
      width: 640px;
      height: 400px; }
    .item .journal-wrapper {
      position: absolute; }
      .item .journal-wrapper .journal {
        max-width: 90%;
        margin-left: 5%;
        object-fit: cover;
        padding-bottom: 100px; }
    .item .photograph-wrapper {
      max-width: 100vw;
      position: absolute;
      margin-top: 210px; }
      .item .photograph-wrapper .photograph {
        background-size: 100% auto;
        background-repeat: no-repeat;
        max-width: 100%;
        bottom: 0; }
  .holder div {
    z-index: 0;
    /*init z-index*/ }
  .holder div.current {
    z-index: 1;
    /*only this DIV will be visible*/ } }

@media only screen and (min-width: 768px) {
  .container {
    position: relative;
    height: 100vh; }
  #rotateBtn {
    display: none; }
  :root {
    --gutter: 1px; }
  .insights-content > * {
    grid-column: 2 / -2; }
  .insights-content > .full {
    grid-column: 1 / -1; }
  .insights-content {
    display: none;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: grid;
    grid-gap: var(--gutter) 0;
    grid-template-columns: var(--gutter) 1fr var(--gutter);
    align-content: start; }
    .insights-content .item-wrapper {
      list-style: none;
      display: grid;
      grid-gap: calc(var(--gutter) / 2);
      grid-template-columns: repeat(9, calc(35% - var(--gutter) * 2));
      grid-template-rows: minmax(400px, 1fr);
      overflow-x: scroll;
      overflow-y: hidden;
      scroll-snap-type: x proximity;
      padding-bottom: calc(.75 * var(--gutter));
      margin-bottom: calc(-.25 * var(--gutter));
      scroll-padding-left: 100px; }
  .item {
    margin: 0;
    padding: 0;
    position: relative;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    align-items: baseline; }
    .item .person {
      width: 640px;
      height: 400px;
      display: flex; }
    .item .info {
      position: relative;
      z-index: 1; }
      .item .info .journal {
        display: flex;
        position: absolute;
        width: 310PX;
        height: 495PX;
        background-size: 100% auto;
        background-repeat: no-repeat;
        object-fit: cover; }
      .item .info .tag {
        display: flex;
        position: absolute;
        float: right;
        width: 100px;
        height: 100px;
        background-size: 100% auto;
        background-repeat: no-repeat;
        object-fit: cover; }
    .item .photograph {
      display: flex;
      position: absolute;
      bottom: 55px;
      bottom: 0;
      width: 300px;
      height: 200px;
      object-fit: cover;
      background-size: 100% auto;
      background-repeat: no-repeat;
      z-index: 2;
      transition: all .2s ease-in-out; }
      .item .photograph:hover {
        width: 330px;
        height: 210px; }
  .sticky-note {
    position: absolute;
    top: 100px;
    right: 50px;
    height: 100px;
    width: 100px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    object-fit: cover; } }

.sticky-note.ux-designer {
  background-image: url("../assets/UX.png"); }

.sticky-note.service-designer {
  background-image: url("../assets/SERV.png"); }

.sticky-note.typographer {
  background-image: url("../assets/TYPE.png"); }

.sticky-note.creative {
  background-image: url("../assets/creat.png"); }

li.ux-designer .tag {
  background-image: url("../assets/UX.png"); }

li.typographer .tag {
  background-image: url("../assets/TYPE.png"); }

li.service-designer .tag {
  background-image: url("../assets/SERV.png"); }

.item-wrapper.service-designer .service-designer {
  margin-top: -101px; }

.item-wrapper.ux-designer .ux-designer {
  margin-top: -101px; }

.item-wrapper.typographer .typographer {
  margin-top: -101px; }
