body {
  background-color: black;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  body .navbar {
    max-width: 200px; }
    body .navbar.right {
      float: right;
      position: relative; }
    body .navbar .nav {
      margin-left: 20px;
      margin-top: 30px; }
      body .navbar .nav .nav-link {
        color: white;
        font-size: 20px;
        font-weight: 300;
        line-height: 24px; }
        body .navbar .nav .nav-link:hover {
          text-decoration: underline;
          background-color: unset; }
        body .navbar .nav .nav-link:focus {
          text-decoration: underline;
          background-color: unset; }
        body .navbar .nav .nav-link .arrow {
          background: url("../assets/icons/arrow.png") no-repeat no-repeat center;
          width: 30px;
          height: 14px;
          display: inline-block; }
      body .navbar .nav .active {
        text-decoration: underline; }
      body .navbar .nav .insight {
        font-size: 19px; }
      body .navbar .nav .year {
        font-size: 14px;
        font-weight: 300;
        line-height: 14px; }
  body .container {
    width: 100%; }
    body .container h3 {
      color: #FFF;
      font-family: Helvetica;
      font-size: 20px;
      line-height: 32px; }
    body .container .text {
      margin: auto;
      max-width: 530px; }
    body .container .rules {
      color: #FFF;
      font-family: "Helvetica Neue";
      font-size: 32px;
      font-weight: 300;
      line-height: 38px; }
    body .container .rotate {
      -moz-transition: all .2s linear;
      -webkit-transition: all .2s linear;
      transition: all .2s linear; }
    body .container .rotate.down {
      -moz-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg); }
    body .container i {
      font-size: 20px; }
