body {
	background-color: black;
}

* {
	box-sizing: border-box;
}

img {
	height: 100%;
}

.grid {
	//use scroll snapping?
	margin: 1000px;
	display: table;
}

.person {
	position: relative;
	overflow: hidden;
	width: 4200px;
	height: 3000px;
	padding: 300px;
}

.person:nth-child(odd) {
	.journal {
		left: 1700px;
	}
}

.person:nth-child(even) {
	.photograph {
		left: 420px;
	}

}

.journal-wrapper {
	position: relative;
	z-index: 3;
}

.journal {
	display: flex;
	position: absolute;
	width: 2000px;
	height: 3000px;

}

.photograph-wrapper {
	position: relative;
	z-index: 1;
}

.photograph {
	display: flex;
	position: absolute;
	width: 3000px;
	height: 2000px;
	object-fit: cover;
	z-index: 2;
	transition: all .2s ease-in-out;
}

.ux-designer {
	.maintag {
		background-image: url('../assets/UX.png');
	}
}

.service-designer {
	.maintag {
		background-image: url('../assets/SERV.png');
	}
}

.videographer {
	.maintag {
		background-image: url('../assets/VID.png');
	}
}

//**subtags**
.in-house {
	.subtag {
		background-image: url('../assets/inhouse.png');
	}
}

.agency {
	.subtag {
		background-image: url('../assets/agency.png');
	}
}

.freelance {
	.subtag {
		background-image: url('../assets/freelance.png');
	}
}

.tag {
	position: -webkit-sticky;
	position: sticky;
	z-index: 5;
	cursor: pointer;
	top: 130px;
	float: right;
	display: flex;
	width: 600px;
	height: 600px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	object-fit: cover;
	-webkit-transition: -webkit-transform .8s ease-in-out;
	transition: transform .3s ease-in-out;

	&:hover {
		transform: rotate(10deg);
	}
}

.subtag {
	width: 400px;
	height: 400px;
	margin-right: -112px;
	z-index: 4;
}