$width: 768px;

body {
	background-color: black;
	color: white;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	//for gridding insights-content
	display: grid;
	place-items: center;
	max-width: 100%;
	overflow-x: hidden;

	.container {
		width: 100%;
		padding: 0px;

		@media only screen and (max-width: $width) {
			margin-top: 10%;
		}
	}

	h3 {
		color: #FFF;
		font-family: Helvetica;
		font-size: 20px;
		line-height: 32px;
	}

	.text {
		margin: 200px auto 0px;
		max-width: 530px;
	}

	.insights-titles {
		@media only screen and (max-width: $width) {
			margin: 60px 20px 0px;
			font-size: 19px;
		}

		@media only screen and (min-width: $width) {
			max-width: max-content;
			margin-left: 153px;
			margin-top: 80px;
		}

		color: #E0E0E0;
		font-size: 25px;
		font-weight: 300;
		line-height: 25px;

		ul {
			.nav-link {
				color: white;
				padding: 5px;

				@media only screen and (max-width: 768px) {
					border: 2px solid white;
				}

				&:hover {
					color: white;
					text-decoration: underline;
					background: black;
					cursor: pointer;
				}
			}

			.active-guideline {
				opacity: 1;
				margin-bottom: 12px;
				margin-left: -30px;
				font-size: 20px;

				@media only screen and (max-width: 768px) {
					font-size: 16px;
					max-width: 90%;

				}

				.active-guideline-link {
					.arrow {

						margin-right: 4px;
					}

					@media only screen and (max-width: 768px) {
						padding-left: 30px;
						border: 0px solid white;

						&:hover {
							text-decoration: none;
						}
					}
				}

				.active-guideline-link.active {
					text-decoration: underline;

					.arrow {
						display: inline-block
					}
				}
			}
		}

		@media only screen and (min-width: 768px) {

			li {
				opacity: 0.5;
			}

			li:hover {
				opacity: 0.5;
			}

			.parent:hover>li:not(:first-child) {
				opacity: 0.5;
			}

			.parent:hover>li:hover {
				opacity: 1.0;
			}

			.visited {
				opacity: 0.2 !important;
			}
		}
	}

	.rotate {
		-moz-transition: all .2s linear;
		-webkit-transition: all .2s linear;
		transition: all .2s linear;
	}

	.down {
		.arrow {
			-moz-transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
		}

		.nested-list {
			display: block;

			.arrow {
				display: inline-block;
			}
		}
	}

	i {
		font-size: 20px;
	}
}