$width: 768px;

.navbar {
	@media only screen and (max-width: $width) {
		width: 100%;
		background-color: black;
	}

	max-width: 200px;

	&.right {
		left: unset;
		right: 20px;
	}

	.nav {
		@media only screen and (max-width: $width) {
			margin: 30px 20px 0px 20px;
			text-align: center;
		}

		margin-left: 20px;
		margin-top: 30px;


		.nav-link {
			color: white;
			font-size: 20px;
			font-weight: 300;
			line-height: 24px;

			&:hover {
				text-decoration: underline;
				background-color: unset;
			}

			&:focus {
				text-decoration: underline;
				background-color: unset;
			}
		}

		.nav-item {
			.arrow {
				display: none;
			}
		}

		.hover {
			transition: all 1s ease-in-out;

			.arrow {
				transition: all 1s ease-in-out;

				display: inline-block;
			}
		}

		.active {

			text-decoration: underline;

			.arrow {

				display: inline-block;
			}
		}

		.unactive {

			text-decoration: none;

			.arrow {

				display: none;
			}
		}

		.insight {
			font-size: 19px;
		}

		.year {
			font-size: 14px;
			font-weight: 300;
			line-height: 14px;

		}
	}
}


.main {
	@media only screen and (max-width: $width) {
		max-width: 100%;

		.nav {
			background-color: black;

			.nav-item {
				float: left;
				margin-top: 0px;
				border: 2px solid white;
				width: 50%;

				.nav-link {
					.arrow {
						display: none;
					}
				}
			}
		}

		&.selected {
			.nav-item:first-child {
				width: 35%;
			}

			.nav-item:last-child {
				width: 65%;
			}
		}
	}
}

.logo {
	@media only screen and (max-width: $width) {
		display: none;
	}
}