body {
	background-color: black;
	color: white;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

	.container {
		width: 100%;


		video {
			@media only screen and (min-width: 768px) {

				margin-top: -92px;
			}

			@media only screen and (max-width: 768px) {
				margin-top: 35%;
			}
		}

		h3 {
			color: #FFF;
			font-family: Helvetica;
			font-size: 20px;
			line-height: 32px;
		}

		.text {
			margin: 200px auto 0px;
			max-width: 530px;
		}


		.row.rules {
			color: #FFF;
			font-family: "Helvetica Neue";
			font-size: 32px;
			font-weight: 300;
			line-height: 38px;
			margin: 100px auto;

			.nav {
				margin-left: -16px;

				.nav-item {
					.arrow {
						display: inline-block;
					}

					.nav-link {
						color: white;

						&:hover {
							color: white;
							text-decoration: underline;
							background: black;
							cursor: pointer;
						}
					}
				}
			}

			.nested-list {
				display: none;
				list-style: none;

				li {
					padding: 0 27px;

					a {
						color: white;
						font-size: 20px;

						&:hover {
							color: white;
							text-decoration: underline;
							background: black;
							cursor: pointer;
						}
					}
				}
			}

			.number {
				opacity: 0.3;
				padding-right: 7px;
				font-size: 20px;

				&:hover {
					text-decoration: unset;
				}
			}
		}

		.insights-titles {
			@media only screen and (max-width: 768px) {
				margin: 100px 5px 0px 5px;
			}

			@media only screen and (min-width: 768px) {
				max-width: 80%;
				margin-left: 10%;
				margin-top: 100px;
			}

			color: #E0E0E0;
			font-size: 25px;
			font-weight: 300;
			line-height: 25px;

			ul {
				.nav-link {
					color: white;

					@media only screen and (max-width: 768px) {
						border: 2px solid white;
					}


					&:hover {
						color: white;
						text-decoration: underline;
						background: black;
						cursor: pointer;
					}
				}
			}

			@media only screen and (min-width: 768px) {

				li {
					opacity: 1.0;
				}

				li:hover {
					opacity: 0.5;
				}

				.parent:hover>li {
					opacity: 0.5;
				}

				.parent:hover>li:hover {
					opacity: 1.0;
				}
			}
		}

		.rotate {
			-moz-transition: all .2s linear;
			-webkit-transition: all .2s linear;
			transition: all .2s linear;
		}

		.down {
			.arrow {
				-moz-transform: rotate(90deg);
				-webkit-transform: rotate(90deg);
				transform: rotate(90deg);
			}

			.nested-list {
				display: block;

				.arrow {
					display: inline-block;
				}
			}
		}

		i {
			font-size: 20px;
		}
	}

	.arrow {
		background: url("../assets/icons/arrow.png") no-repeat no-repeat center;
		width: 30px;
		height: 14px;
	}
}