body {
	background-color: black;
	color: white;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;


	.navbar {
		@media only screen and (max-width: 768px) {
			width: 100%;
			background-color: black;
		}
		max-width: 200px;

		&.right {
			float: right;
			position: relative;
			margin-right: 30px;
		}

		.nav {
         @media only screen and (max-width: 768px) {
            margin: 30px 20px 0px 20px;
            text-align: center;
         }
			margin-left: 20px;
			margin-top: 30px;


			.nav-link {
				color: white;
				font-size: 20px;
				font-weight: 300;
				line-height: 24px;

				&:hover {
					text-decoration: underline;
					background-color: unset;
				}

				&:focus {
					text-decoration: underline;
					background-color: unset;
				}
			}

			.nav-item {
				.arrow {
					display: none;
				}
			}

			.hover {
				.arrow {
					display: inline-block;
				}
			}

			.active {
				text-decoration: underline;

				.arrow {
					display: inline-block;
				}
			}

			.unactive {
				text-decoration: none;

				.arrow {
					display: none;
				}
			}

			.insight {
				font-size: 19px;
			}

			.year {
				font-size: 14px;
				font-weight: 300;
				line-height: 14px;

			}
		}
	}

	.main {
		@media only screen and (max-width: 768px) {
			max-width: 100%;

			.nav {
				border: 3px solid white;
            background-color: black;

				.nav-item {
					float: left;
					margin-top: 0px;
					border: 2px solid white;
					width: 50%;

					.nav-link {
						.arrow {
							display: none;
						}
					}
				}
			}
		}
	}
	.logo{
		@media only screen and (max-width: 768px) {
			display: none;
		}
	}

	.container {
		width: 100%;
		@media only screen and (max-width: 768px) {
			margin-top: 35%;
		}

		video {
			@media only screen and (min-width: 768px) {

				margin-top: -92px;
			}
		}

		h3 {
			color: #FFF;
			font-family: Helvetica;
			font-size: 20px;
			line-height: 32px;
		}

		.text {
			margin: 200px auto 0px;
			max-width: 530px;
		}

		.rules {
			color: #FFF;
			font-family: "Helvetica Neue";
			font-size: 32px;
			font-weight: 300;
			line-height: 38px;
			margin: 100px auto;

			.nav {
				margin-left: -16px;

				.nav-item {
					.arrow {
						display: inline-block;
					}

					.nav-link {
						color: white;

						&:hover {
							color: white;
							text-decoration: underline;
							background: black;
							cursor: pointer;
						}
					}
				}
			}

			.nested-list {
				display: none;
				list-style: none;

				li {
					padding: 0 27px;

					a {
						color: white;
						font-size: 20px;

						&:hover {
							color: white;
							text-decoration: underline;
							background: black;
							cursor: pointer;
						}
					}
				}
			}

			.number {
				opacity: 0.3;
				padding-right: 7px;
				font-size: 20px;

				&:hover {
					text-decoration: unset;
				}
			}
		}

		.rotate {
			-moz-transition: all .2s linear;
			-webkit-transition: all .2s linear;
			transition: all .2s linear;
		}

		.down {
			.arrow {
				-moz-transform: rotate(90deg);
				-webkit-transform: rotate(90deg);
				transform: rotate(90deg);
			}

			.nested-list {
				display: block;

				.arrow {
					display: inline-block;
				}
			}
		}

		i {
			font-size: 20px;
		}
	}

	.arrow {
		background: url("../assets/icons/arrow.png") no-repeat no-repeat center;
		width: 30px;
		height: 14px;
	}
}
