body {
	background-color: black;
	color: white;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

	.navbar {
		max-width: 200px;

		&.right {
			float: right;
			position: relative;
		}

		.nav {
			margin-left: 20px;
			margin-top: 30px;

			.nav-link {
				color: white;
				font-size: 20px;
				font-weight: 300;
				line-height: 24px;

				&:hover {
					text-decoration: underline;
					background-color: unset;
				}

				&:focus {
					text-decoration: underline;
					background-color: unset;
				}

				.arrow {
					background: url("../assets/icons/arrow.png") no-repeat no-repeat center;
					width: 30px;
					height: 14px;
					display: inline-block;

				}
			}

			.active {
				text-decoration: underline;
			}

			.insight {
				font-size: 19px;
			}

			.year {
				font-size: 14px;
				font-weight: 300;
				line-height: 14px;

			}
		}
	}

	.container {
		width: 100%;

		h3 {
			color: #FFF;
			font-family: Helvetica;
			font-size: 20px;
			line-height: 32px;
		}

		.text {
			margin: auto;
			max-width: 530px;
		}
	}
}